body {
  background: #196dff;
  text-align: left;
}
  #main {
    width: 1000px;
    min-height: 600px;
    background: #ffab12;
    margin: auto 100px;
    padding: 10px;

}
#section{
  text-align: left;
}
hr {
  text-align: center;
  font-family:"Times New Roman";
  font: 24;
  color: #ff3819;
}

hr {
  height: 2px;
  color: #ff3189;
}
p{
  font-family:"Calibri";
  font-size:12px;

}
#header {
  background-color: #66ccff;
  color: white;
  text-align: center;
}
#footer {
  text-align: center;
}p {
margin-top: 0px;
margin-left: 100px;
}
p {
padding-top: auto;
padding-left: auto;
}

.fl {
  float:left;
  border-radius:50px;
  border: red solid 4px;
}
