body {
  background: #196dff;
  text-align:center;
}
  #main {
    width: 1000px;
    height: 600px;
    background: #ffab12;
    margin: 25px 100px;
    padding: 100px;

}
hr {
  text-align: center;
  font-family:"Times New Roman";
  font: 24;
  color: #ff3819;
}
hr {
  height: 2px;
  color: #ff3189;
}
p{
  font-family:"Calibri";
  font-size:12px;

}
#header{
  background-color: #66ccff;
  color: white;
  text-align: center;
}
